/* Styles for contact form */

div.u3aform {
    padding-left: 5px;
    padding-right: 15px;
}

.u3aform div {
    display: flex;
}

.u3aform label {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    width: 230px;
}

.u3aform textarea,
.u3aform input {
    display: inline-block;
    margin-bottom: 10px;
    min-height: 20px;
    flex: 1;
}

.u3aform input[type='checkbox'] {
    flex: none;
}

.u3aform p.hasSubmit {
    text-align: center;
}

.u3aform :nth-child(3) {
    display: none;
}

@media only screen and (max-width:768px) {
    .u3aform div {
        display: block;
    }

    .u3aform label {
        display: block;
        text-align: left;
        width: unset;
    }

    .u3aform textarea,
    .u3aform input {
        width:100%;
        margin-right:10px;
    }
    .u3aform input[type='checkbox'] {
        width:auto;
    }
}
